In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

In [6]:
df = pd.read_csv('road_accidents.csv')

In [7]:
df

,Unnamed: 0,S. No.,State/ UT,Fine/Clear - Total Accidents,Fine/Clear - Persons Killed,Fine/Clear - Persons Injured,Mist/ Foggy - Total Accidents,Mist/ Foggy - Persons Killed,Mist/ Foggy - Persons Injured,Cloudy - Total Accidents,...,Snowfall - Persons Injured,Hail/Sleet - Total Accidents,Hail/Sleet - Persons Killed,Hail/Sleet - Persons Injured,Dust Storm - Total Accidents,Dust Storm - Persons Killed,Dust Storm - Persons Injured,Others - Total Accidents,Others - Persons Killed,Others - Persons Injured
0,0,1,Andhra Pradesh,18383,6311,22027,1051,311,1204,1025,...,0,92,45,137,42,34,61,2839,1086,3408
1,1,2,Arunachal Pradesh,101,59,149,31,19,39,31,...,0,12,7,13,0,0,0,44,22,91
2,2,3,Assam,3786,1337,3117,491,168,468,391,...,0,15,8,5,36,14,19,2188,763,1752
3,3,4,Bihar,2543,1554,1795,1769,1013,1175,569,...,0,0,0,0,582,318,399,1820,1175,1247
4,4,5,Chhattisgarh,7237,2078,7173,288,85,250,672,...,0,0,0,0,132,28,151,3972,1262,3793
5,5,6,Goa,3775,298,1683,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,6,7,Gujarat,15591,5538,14143,1059,371,910,924,...,0,64,23,51,302,115,296,3160,1396,2924
7,7,8,Haryana,4602,2010,4573,2983,1245,2119,787,...,0,70,75,175,243,150,363,893,444,667
8,8,9,Himachal Pradesh,2835,1116,5207,31,19,37,163,...,10,0,0,0,0,0,0,0,0,0
9,9,10,Jammu & Kashmir,4092,729,5593,0,0,0,71,...,24,0,0,0,0,0,0,1238,208,1901
10,10,11,Jharkhand,1617,752,905,367,201,280,765,...,0,160,236,417,247,108,368,917,971,743
11,11,12,Karnataka,28269,7298,34077,1222,268,1700,1592,...,0,47,5,42,580,151,691,9218,2190,12041
12,12,13,Kerala,30689,3448,33945,500,30,602,1329,...,0,0,0,0,0,0,0,0,0,0
13,13,14,Madhya Pradesh,40433,7046,41257,1307,297,1962,1710,...,0,426,86,639,429,68,751,5736,1098,6565
14,14,15,Maharashtra,35350,11584,32150,591,161,421,1505,...,0,0,0,0,474,119,520,0,0,0
15,15,16,Manipur,318,61,541,43,5,79,83,...,0,10,0,20,3,0,5,0,0,0
16,16,17,Meghalaya,344,73,236,3,3,0,4,...,0,0,0,0,0,0,0,205,53,84
17,17,18,Mizoram,82,69,68,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
18,18,19,Nagaland,47,26,73,0,0,0,0,...,0,0,0,0,0,0,0,28,20,47
19,19,20,Orissa,4831,2092,5143,876,330,1000,921,...,0,47,27,42,249,95,318,1970,881,2169
20,20,21,Punjab,5069,3810,2879,825,602,660,566,...,0,0,0,0,69,39,59,21,12,23
21,21,22,Rajasthan,20911,9418,21841,430,207,335,101,...,0,28,24,31,8,4,5,1113,576,1230
22,22,23,Sikkim,89,38,102,25,9,31,28,...,18,9,0,0,0,0,0,34,6,12
23,23,24,Tamil Nadu,64808,15918,74994,1811,321,1786,1645,...,0,0,0,0,0,0,0,274,70,340
24,24,25,Telangana,19574,6269,20614,165,50,202,251,...,0,0,0,0,4,2,12,2580,785,2843
25,25,26,Tripura,482,150,723,9,2,45,11,...,0,0,0,0,0,0,0,25,11,30
26,26,27,Uttarakhand,1203,691,1352,129,83,83,1,...,6,32,21,18,9,5,13,132,95,215
27,27,28,Uttar Pradesh,14110,7453,9423,3664,2160,2933,2107,...,0,199,146,276,1521,759,1227,10843,5683,7074
28,28,29,West Bengal,8423,3734,6597,2061,1255,2168,627,...,0,6,6,8,196,109,521,0,0,0
29,29,30,A & N Islands,175,15,249,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,30,31,Chandigarh,428,151,329,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,31,32,D & N Haveli,20,14,55,6,3,9,4,...,0,0,0,0,0,0,0,25,20,50
32,32,33,Daman & Diu,58,33,72,3,0,10,0,...,0,0,0,0,0,0,0,3,1,6
33,33,34,Delhi,3879,880,3917,425,94,414,142,...,0,171,23,165,122,27,114,2187,415,2036
34,34,35,Lakshadweep,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35,35,36,Puducherry,1413,183,1365,75,4,60,51,...,0,1,0,2,3,2,2,25,12,31

In [8]:
df['total-accidents'] = df[['Fine/Clear - Total Accidents', 'Mist/ Foggy - Total Accidents', 'Cloudy - Total Accidents', 'Rainy - Total Accidents',
    'Snowfall - Total Accidents', 'Hail/Sleet - Total Accidents', 'Dust Storm - Total Accidents', 'Others - Total Accidents']].sum(axis=1)

In [9]:
df[['State/ UT','total-accidents']]

            State/ UT  total-accidents
0      Andhra Pradesh            24888
1   Arunachal Pradesh              249
2               Assam             7435
3               Bihar             8222
4        Chhattisgarh            13580
5                 Goa             4304
6             Gujarat            21859
7             Haryana            11234
8    Himachal Pradesh             3168
9     Jammu & Kashmir             5501
10          Jharkhand             4932
11          Karnataka            44403
12             Kerala            39420
13     Madhya Pradesh            53972
14        Maharashtra            39878
15            Manipur              538
16          Meghalaya              620
17            Mizoram               83
18           Nagaland               75
19             Orissa            10532
20             Punjab             6952
21          Rajasthan            23066
22             Sikkim              210
23         Tamil Nadu            71431
24          Telangana            22811
25            Tripura              557
26        Uttarakhand             1591
27      Uttar Pradesh            35612
28        West Bengal            13580
29      A & N Islands              238
30         Chandigarh              428
31       D & N Haveli               70
32        Daman & Diu               71
33              Delhi             7375
34        Lakshadweep                1
35         Puducherry             1766

In [10]:
df['total-deth'] = df[['Fine/Clear - Persons Killed', 'Mist/ Foggy - Persons Killed', 'Cloudy - Persons Killed',
     'Rainy - Persons Killed', 'Snowfall - Persons Killed', 'Hail/Sleet - Persons Killed',
     'Dust Storm - Persons Killed', 'Others - Persons Killed']].sum(axis=1)

In [11]:
df[['State/ UT','total-accidents','total-deth']]

            State/ UT  total-accidents  total-deth
0      Andhra Pradesh            24888        8541
1   Arunachal Pradesh              249         149
2               Assam             7435        2572
3               Bihar             8222        4901
4        Chhattisgarh            13580        3908
5                 Goa             4304         336
6             Gujarat            21859        8136
7             Haryana            11234        5024
8    Himachal Pradesh             3168        1271
9     Jammu & Kashmir             5501         958
10          Jharkhand             4932        3027
11          Karnataka            44403       11133
12             Kerala            39420        4287
13     Madhya Pradesh            53972        9646
14        Maharashtra            39878       12935
15            Manipur              538          81
16          Meghalaya              620         150
17            Mizoram               83          70
18           Nagaland               75          46
19             Orissa            10532        4463
20             Punjab             6952        5077
21          Rajasthan            23066       10465
22             Sikkim              210          85
23         Tamil Nadu            71431       17218
24          Telangana            22811        7219
25            Tripura              557         173
26        Uttarakhand             1591         962
27      Uttar Pradesh            35612       19320
28        West Bengal            13580        6544
29      A & N Islands              238          17
30         Chandigarh              428         151
31       D & N Haveli               70          46
32        Daman & Diu               71          38
33              Delhi             7375        1591
34        Lakshadweep                1           1
35         Puducherry             1766         244

In [12]:
df['fatality-rate'] = df['total-deth']/df['total-accidents']

In [13]:
df[['State/ UT','total-accidents','total-deth','fatality-rate']]

            State/ UT  total-accidents  total-deth  fatality-rate
0      Andhra Pradesh            24888        8541       0.343177
1   Arunachal Pradesh              249         149       0.598394
2               Assam             7435        2572       0.345931
3               Bihar             8222        4901       0.596084
4        Chhattisgarh            13580        3908       0.287776
5                 Goa             4304         336       0.078067
6             Gujarat            21859        8136       0.372204
7             Haryana            11234        5024       0.447214
8    Himachal Pradesh             3168        1271       0.401199
9     Jammu & Kashmir             5501         958       0.174150
10          Jharkhand             4932        3027       0.613747
11          Karnataka            44403       11133       0.250726
12             Kerala            39420        4287       0.108752
13     Madhya Pradesh            53972        9646       0.178722
14        Maharashtra            39878       12935       0.324364
15            Manipur              538          81       0.150558
16          Meghalaya              620         150       0.241935
17            Mizoram               83          70       0.843373
18           Nagaland               75          46       0.613333
19             Orissa            10532        4463       0.423756
20             Punjab             6952        5077       0.730293
21          Rajasthan            23066       10465       0.453698
22             Sikkim              210          85       0.404762
23         Tamil Nadu            71431       17218       0.241044
24          Telangana            22811        7219       0.316470
25            Tripura              557         173       0.310592
26        Uttarakhand             1591         962       0.604651
27      Uttar Pradesh            35612       19320       0.542514
28        West Bengal            13580        6544       0.481885
29      A & N Islands              238          17       0.071429
30         Chandigarh              428         151       0.352804
31       D & N Haveli               70          46       0.657143
32        Daman & Diu               71          38       0.535211
33              Delhi             7375        1591       0.215729
34        Lakshadweep                1           1       1.000000
35         Puducherry             1766         244       0.138165

In [14]:
df.head()

,Unnamed: 0,S. No.,State/ UT,Fine/Clear - Total Accidents,Fine/Clear - Persons Killed,Fine/Clear - Persons Injured,Mist/ Foggy - Total Accidents,Mist/ Foggy - Persons Killed,Mist/ Foggy - Persons Injured,Cloudy - Total Accidents,...,Hail/Sleet - Persons Injured,Dust Storm - Total Accidents,Dust Storm - Persons Killed,Dust Storm - Persons Injured,Others - Total Accidents,Others - Persons Killed,Others - Persons Injured,total-accidents,total-deth,fatality-rate
0,0,1,Andhra Pradesh,18383,6311,22027,1051,311,1204,1025,...,137,42,34,61,2839,1086,3408,24888,8541,0.343177
1,1,2,Arunachal Pradesh,101,59,149,31,19,39,31,...,13,0,0,0,44,22,91,249,149,0.598394
2,2,3,Assam,3786,1337,3117,491,168,468,391,...,5,36,14,19,2188,763,1752,7435,2572,0.345931
3,3,4,Bihar,2543,1554,1795,1769,1013,1175,569,...,0,582,318,399,1820,1175,1247,8222,4901,0.596084
4,4,5,Chhattisgarh,7237,2078,7173,288,85,250,672,...,0,132,28,151,3972,1262,3793,13580,3908,0.287776

In [15]:
df['mist/ Fooggy rate'] = df['Mist/ Foggy - Total Accidents']/df['Mist/ Foggy - Total Accidents'].sum()

In [16]:
df['mist/ Fooggy rate']

0     0.047255
1     0.001394
2     0.022076
3     0.079538
4     0.012949
5     0.000000
6     0.047615
7     0.134122
8     0.001394
9     0.000000
10    0.016501
11    0.054944
12    0.022481
13    0.058765
14    0.026573
15    0.001933
16    0.000135
17    0.000045
18    0.000000
19    0.039387
20    0.037094
21    0.019334
22    0.001124
23    0.081426
24    0.007419
25    0.000405
26    0.005800
27    0.164741
28    0.092667
29    0.000000
30    0.000000
31    0.000270
32    0.000135
33    0.019109
34    0.000000
35    0.003372
Name: mist/ Fooggy rate, dtype: float64

In [29]:
correlation_coefficient, p_value = stats.pearsonr(df['fatality-rate'], df['mist/ Fooggy rate'])
print(correlation_coefficient, p_value )

0.05247790391990554 0.7611547858740201

In [30]:
if p_value<0.05 :
    print("there is a significant correlation")
else :
    print("no significant relation")

no significant relation

In [31]:
df = df.sort_values(by='fatality-rate')

In [32]:
df[['State/ UT','fatality-rate']]

            State/ UT  fatality-rate
29      A & N Islands       0.071429
5                 Goa       0.078067
12             Kerala       0.108752
35         Puducherry       0.138165
15            Manipur       0.150558
9     Jammu & Kashmir       0.174150
13     Madhya Pradesh       0.178722
33              Delhi       0.215729
23         Tamil Nadu       0.241044
16          Meghalaya       0.241935
11          Karnataka       0.250726
4        Chhattisgarh       0.287776
25            Tripura       0.310592
24          Telangana       0.316470
14        Maharashtra       0.324364
0      Andhra Pradesh       0.343177
2               Assam       0.345931
30         Chandigarh       0.352804
6             Gujarat       0.372204
8    Himachal Pradesh       0.401199
22             Sikkim       0.404762
19             Orissa       0.423756
7             Haryana       0.447214
21          Rajasthan       0.453698
28        West Bengal       0.481885
32        Daman & Diu       0.535211
27      Uttar Pradesh       0.542514
3               Bihar       0.596084
1   Arunachal Pradesh       0.598394
26        Uttarakhand       0.604651
18           Nagaland       0.613333
10          Jharkhand       0.613747
31       D & N Haveli       0.657143
20             Punjab       0.730293
17            Mizoram       0.843373
34        Lakshadweep       1.000000

In [33]:
df = df.sort_values(by='total-deth')

In [34]:
df[['State/ UT','total-deth']]

            State/ UT  total-deth
34        Lakshadweep           1
29      A & N Islands          17
32        Daman & Diu          38
31       D & N Haveli          46
18           Nagaland          46
17            Mizoram          70
15            Manipur          81
22             Sikkim          85
1   Arunachal Pradesh         149
16          Meghalaya         150
30         Chandigarh         151
25            Tripura         173
35         Puducherry         244
5                 Goa         336
9     Jammu & Kashmir         958
26        Uttarakhand         962
8    Himachal Pradesh        1271
33              Delhi        1591
2               Assam        2572
10          Jharkhand        3027
4        Chhattisgarh        3908
12             Kerala        4287
19             Orissa        4463
3               Bihar        4901
7             Haryana        5024
20             Punjab        5077
28        West Bengal        6544
24          Telangana        7219
6             Gujarat        8136
0      Andhra Pradesh        8541
13     Madhya Pradesh        9646
21          Rajasthan       10465
11          Karnataka       11133
14        Maharashtra       12935
23         Tamil Nadu       17218
27      Uttar Pradesh       19320

In [35]:
rs = stats.spearmanr(df['fatality-rate'], df['mist/ Fooggy rate']).correlation

In [36]:
rs

0.023866416420646974

In [37]:
df.head()

,Unnamed: 0,S. No.,State/ UT,Fine/Clear - Total Accidents,Fine/Clear - Persons Killed,Fine/Clear - Persons Injured,Mist/ Foggy - Total Accidents,Mist/ Foggy - Persons Killed,Mist/ Foggy - Persons Injured,Cloudy - Total Accidents,...,Dust Storm - Persons Killed,Dust Storm - Persons Injured,Others - Total Accidents,Others - Persons Killed,Others - Persons Injured,total-accidents,total-deth,fatality-rate,mist/ Fooggy rate,Hail/sleet-bin
34,34,35,Lakshadweep,1,1,0,0,0,0,0,...,0,0,0,0,0,1,1,1.000000,0.000000,0
29,29,30,A & N Islands,175,15,249,0,0,0,0,...,0,0,0,0,0,238,17,0.071429,0.000000,0
32,32,33,Daman & Diu,58,33,72,3,0,10,0,...,0,0,3,1,6,71,38,0.535211,0.000135,0
31,31,32,D & N Haveli,20,14,55,6,3,9,4,...,0,0,25,20,50,70,46,0.657143,0.000270,0
18,18,19,Nagaland,47,26,73,0,0,0,0,...,0,0,28,20,47,75,46,0.613333,0.000000,0

In [38]:
df['Hail/sleet-bin'] = df['Hail/Sleet - Total Accidents'].apply(lambda x:1 if(x>0) else 0)

In [39]:
df[['State/ UT','Hail/sleet-bin']]

            State/ UT  Hail/sleet-bin
34        Lakshadweep               0
29      A & N Islands               0
32        Daman & Diu               0
31       D & N Haveli               0
18           Nagaland               0
17            Mizoram               0
15            Manipur               1
22             Sikkim               1
1   Arunachal Pradesh               1
16          Meghalaya               0
30         Chandigarh               0
25            Tripura               0
35         Puducherry               1
5                 Goa               0
9     Jammu & Kashmir               0
26        Uttarakhand               1
8    Himachal Pradesh               0
33              Delhi               1
2               Assam               1
10          Jharkhand               1
4        Chhattisgarh               0
12             Kerala               0
19             Orissa               1
3               Bihar               0
7             Haryana               1
20             Punjab               0
28        West Bengal               1
24          Telangana               0
6             Gujarat               1
0      Andhra Pradesh               1
13     Madhya Pradesh               1
21          Rajasthan               1
11          Karnataka               1
14        Maharashtra               0
23         Tamil Nadu               0
27      Uttar Pradesh               1

In [40]:
df.columns.tolist()

['Unnamed: 0',
 'S. No.',
 'State/ UT',
 'Fine/Clear - Total Accidents',
 'Fine/Clear - Persons Killed',
 'Fine/Clear - Persons Injured',
 'Mist/ Foggy - Total Accidents',
 'Mist/ Foggy - Persons Killed',
 'Mist/ Foggy - Persons Injured',
 'Cloudy - Total Accidents',
 'Cloudy - Persons Killed',
 'Cloudy - Persons Injured',
 'Rainy - Total Accidents',
 'Rainy - Persons Killed',
 'Rainy - Persons Injured',
 'Snowfall - Total Accidents',
 'Snowfall - Persons Killed',
 'Snowfall - Persons Injured',
 'Hail/Sleet - Total Accidents',
 'Hail/Sleet - Persons Killed',
 'Hail/Sleet - Persons Injured',
 'Dust Storm - Total Accidents',
 'Dust Storm - Persons Killed',
 'Dust Storm - Persons Injured',
 'Others - Total Accidents',
 'Others - Persons Killed',
 'Others - Persons Injured',
 'total-accidents',
 'total-deth',
 'fatality-rate',
 'mist/ Fooggy rate',
 'Hail/sleet-bin']

In [44]:
correlation_coefficient, p_value = stats.pearsonr(df['Hail/sleet-bin'], df['Rainy - Total Accidents'])
print(correlation_coefficient, p_value )

0.14297253600892976 0.4054955004441137

In [45]:
if p_value<0.05 :
    print("there is a significant correlation")
else :
    print("no significant relation")

no significant relation

In [50]:

correlation_coefficient, p_value = stats.pointbiserialr(df['Hail/sleet-bin'], df['Rainy - Total Accidents'])
print(correlation_coefficient, p_value )

0.14297253600892976 0.4054955004441137

In [51]:
if p_value<0.05 :
    print("there is a significant correlation")
else :
    print("no significant relation")

no significant relation

In [54]:
df['dust/storm bin'] = df['Dust Storm - Total Accidents'].apply(lambda x:1 if(x>0) else 0)

In [55]:
df['dust/storm bin']

34    0
29    0
32    0
31    0
18    0
17    0
15    1
22    0
1     0
16    0
30    0
25    0
35    1
5     0
9     0
26    1
8     0
33    1
2     1
10    1
4     1
12    0
19    1
3     1
7     1
20    1
28    1
24    1
6     1
0     1
13    1
21    1
11    1
14    1
23    0
27    1
Name: dust/storm bin, dtype: int64

In [59]:
table = pd.crosstab(df['dust/storm bin'],df['Hail/sleet-bin'])

In [62]:
a = table.iloc[0, 0] 
b = table.iloc[0, 1] 
c = table.iloc[1, 0] 
d = table.iloc[1, 1] 
numerator = (a*d - b*c)
denominator = np.sqrt((a+b)*(c+d)*(a+c)*(b+d))
phi = numerator / denominator
print(phi)

0.6220907522417993